<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Panificadora</title>
   <link rel="stylesheet" href="/css/style_home.css">
   <link rel="shortcut icon" href="/assets/bread.png" type="image/x-icon">
</head>
<body>
   {{!-- <div class="carga">
      <img src="" alt="">
   </div> --}}
   <section class="container">
      <div class="container_img">

         <img class="img-foto" src="{{ img }}" alt="" id="img-foto">
         <img src="/assets/loading.svg" alt="" class="img-loading" id="loading">
         <div class="active" id="activo"></div>

         <form id="formElem">
            <label class="label-input" for="inputArchivo">
               <input type="file" name="archivo" id="inputArchivo">       
               <img  class="upload-img" src="/assets/upload.png" alt="">               
            </label>
         </form>
      </div>
      <div class="container_datos">
         <h2>{{ nombre }}</h2>
         <h2>{{ email }}</h2>
         <h2>{{ telefono }}</h2>         
      </div>
   </section>
   <section class="container-cerrar-sesion">
      <a  href="" id="cerrar-sesion">
         <div class="input-boton">
            <p>Cerrar Sesion</p>
         </div>
      </a>      
      <script src="/js/home/subir-imagen.js"></script>
      <script src="/js/home/cerrar-sesion.js"></script>
   </section>
</body>
</html>