* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root {
   --green-primary: #69be4b;
   --green-secondary:#00b241;
   --blue-primary: #0088b2;
   --red-primary: #b22a00;
}

html {
   font-size: 62.5%;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background-color: var(--blue-primary);
}

.carga {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 3;
   background-color: rgba(255, 255, 255, 0.733);
}

.container {   
   width: 95%;
   max-width: 400px;
   margin: 0 auto;
   margin-top: 50px;
   background-color: white;
   padding: 40px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 20px;
   box-shadow: 1px 0px 9px 1px rgb(0 0 0 / 40%);
   display: none;
}

.container-perfil {
   max-width: 400px;
}
.container-chat {
   width: 95%;
   max-width: 1200px;
   padding: 40px 20px;
   flex-direction: row;
   gap: 40px;
}

.container_img {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: relative;
}

.img-foto {
   max-width: 280px;
   padding: 5px;
   border: 1px black solid;
}

.img-loading {
   display: none;
   position: absolute;
   z-index: 2;
}

.active {
   display: none;
   width: 100%;
   height: 100%;   
   position: absolute;
   background-color: #e9e9e9ca;
   z-index: 1;
}

.container_datos > h2 {
   margin-top: 20px;
}

.container_datos h2:nth-child(1) {
   font-size:2.5rem;  
   margin: 0; 
}

.label-input {
   position: absolute;
   top: 3%;
   left: 86%;
   width: auto;
   padding: 5px;
   background-color: var(--blue-primary);
   font-size: 1.4rem;
   cursor: pointer;
   border-radius: 20%;
   box-shadow: 2px 2px 5px 0px  rgba(187,187,187,0.75);
}

.input-file {
   display: none;
}

.upload-img {
   width: 20px;
}

.container-cerrar-sesion {
   display: none;
}
.container-cerrar-sesion a {
   text-decoration: none;   
}


/* BOTONES */

.input-boton {   
   width: 95%;
   max-width: 400px;
   height: 50px;
   font-size: 1.4rem;
   color: white;   
   border: none;
   cursor: pointer;
   font-weight: 500;
   letter-spacing: 0.05rem;   
   margin: 0 auto;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.8rem;
   transition: all ease 0.3s;
   box-shadow: 1px 0px 9px 1px rgb(0 0 0 / 20%);
}
.cerrar {
   background-color: var(--red-primary);
}
.chat {
   background-color: var(--green-primary);
}
.cerrar:hover {
   background-color: #d14c23;
}
.chat:hover {
   background-color: #54d123;
}


/* CHAT */
.container-chat-mensaje {
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   flex-direction: column;
   gap: 40px;
}

.container-chat-mensaje div {
   display: flex;
   flex-direction: column;
}
.caja-mensajes, .caja-escribir {
   width: 100%;
}

.caja-mensajes ul {
   width: 100%;
   padding: 20px;
   height: 500px;
   background-color: rgb(228, 228, 228);
   overflow-y: scroll;
}

.caja-mensajes ul li {
   width: fit-content;
   list-style: inside;
   overflow-wrap: anywhere;
}

h3 {
   font-size: 2.0rem;
}

hr {
   margin-bottom: 15px;
}

.input-mensaje-chat {
   margin-bottom: 10px;
   font-size: 1.8rem;
   border: none;
   background-color: rgb(228, 228, 228);
   padding: 7px;
}
.input-mensaje-chat::placeholder {
   font-size: 1.6rem;
   font-style: italic;
}
.input-mensaje-chat:focus-visible {
   outline: #0088b2 2px solid;
   border-radius: 5px;
}

.container-lista-usuarios {
   width: 30%;
   align-self: flex-start;
}

li h4 {
   font-size: 1.5rem;
   color: var(--green-secondary);
   text-align: left;
}

li p {
   font-size: 1.4rem;
   font-style: italic;
   text-align: left;
}

.item-lista {
   margin-bottom: 10px;
}

.mensajes_nombre {
   font-size: 1.7rem;
   color: var(--blue-primary);
}

.mensaje_mensaje {
   font-size: 1.6rem;
}

.lista-container-mensaje {
   background-color: rgb(255, 255, 255);
   padding: 10px;
   border-radius: 10px;
   text-align: left;
}

li span {
   text-align: left;
}

#listaUsuarios {
   padding-left: 20px;
}

.tu-mismo {
   color: var(--green-secondary);
   font-weight: 600;
}


@media (max-width: 700px) {
   .container-chat {
      flex-direction: column;
   }

   .container-chat-mensaje {
      width: 100%;
   }

   .container-lista-usuarios {
      width: 100%;
      margin: 0 auto;
   }
}