* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5;
   font-family: Arial, Helvetica, sans-serif;
}

body {
   background-color: #69be4b;
}

.section_login {
   margin-top: 50px;
}

.container {
   width: 90%;
   margin: 0 auto;
   padding: 40px;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-content: center;
   background-color: rgb(255, 255, 255);
   text-align: center;
   box-shadow: 1px 0px 9px 1px rgba(0,0,0,0.4);
}

.container_login {
   max-width: 400px;
   transition: height 0.5s ease;
}

.container_login a:hover {
   text-decoration: underline;
}

.container_register {
   max-width: 700px;
}

.container-title {
   margin-bottom: 30px;
   font-size: 2.3rem;
}

input {
   /* margin-top: 30px; */
   height: 45px;
   padding: 7px 20px;
}

.container_input-text {
   height: 75px;
   margin-bottom: 15px;
}

.input-texto {
   width: 100%;
   font-size: 1.2rem;
   border: none;
   background-color: rgb(228, 228, 228);
}
.input-texto:focus-visible {   
   /* border: #0088b2 2px solid; */
   border-radius: 5px;
   outline: #0088b2 2px solid;
} 
.input-correcto {
   /* border: #00b241 2px solid; */
   outline: #00b241 2px solid;
   border-radius: 5px;
}
.input-incorrecto {
   /* border: #b22a00 2px solid; */
   outline: #b22a00 2px solid;
   border-radius: 5px;
}

.input-texto::placeholder {
   font-size: 1.0rem;
   font-style: italic;
}

.parrafo-error {
   color: #b22a00;
   font-size: 1.0rem;
   text-align: start;
   margin-top: 7px;
   display: none;
}

.input-boton {   
   font-size: 1.4rem;
   color: white;
   background-color: #00b241;
   border: none;
   cursor: pointer;
   font-weight: 500;
   letter-spacing: 0.10rem;
   margin-bottom: 20px;
   transition: all ease 0.5s;
}
.input-boton:hover {
   background-color: #009ab2;
}

.container-crea_cuenta {
   margin-top: 20px;
}

/* ---------------------- REGISTRO ---------------------- */
.enviar{
   margin: 0;
}

.container_login a {
   color: #002ab2;
   text-decoration: none;
   font-size: 0.9rem;
}

.formulario__grupo{
   display: flex;
   justify-content: space-evenly;
}

.grupo__input {
   display: flex;
   flex-direction: column;
   justify-content: start;
   height: 110px;
   /* margin-bottom: 15px; */
   padding: 0 5px;
}

label {
   font-size: 1.0rem;
   font-weight: 600;
   text-align: left;
   margin-bottom: 5px;
   color: rgb(97, 97, 97);
}

.grupo__input-checkbox {
   display: flex;
   align-items: center;
   gap: 10px;
   padding-left: 20px;
   height: 15px;
   margin-bottom: 25px;
}

.label-ckeckbox {
   margin: 0;
}


/* ---------------------- PETICIONES ---------------------- */
.container-peticion {
   max-width: 400px;
   width: 100%;
   /* margin-top: 20px; */
   padding: 15px;   
   transition: all ease 0.3s;
   transform: scale(0);
   display: none;
   margin: 20px auto;
   display: flex;
   justify-content: center;
}
.peticion-parrafo {
   font-size: 1.0rem;
   text-align: center;
}

   /* ERROR DE PETICION */
.parrafo-peticion-error {
   color: #8b2000;
}
.container-peticion-error {
   background-color: #ffcbbb;
}

  /* PETICION CORRECTA */
.parrafo-peticion-succes {
   color: #158b00;
}
.container-peticion-succes {
   background-color: #bfffbb;
}

/* ---------------------- GOOGLE ---------------------- */
.container-google {
   margin: 20px 0;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}

/* clase especial de google */
.abcRioButton { 
   background-color: rgb(66 133 244);
}

/* ---------------------- LOADING ---------------------- */
.container-loading {
   /* margin: auto; */
   display: flex;
   justify-content: center;
   position: absolute;
   left: calc(50% - 40px);
   margin-top: 25px;
}

.container-loading img {
   width: 80px;
   transition: all ease 0.3s;
   transform: scale(0);
}